*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}
nav img{
    width: 85px;
    height: 40px;
    padding-top: 10px;
}
.nav-content{
    display: flex;
}
.title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
span{
    color: #ff42a5;
}
.link{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    margin-left: 10px;
}
.link i{
    color: #F61C0D;
    margin-left: 20px;
    font-size: 25px;
}
.back{
    display: flex;
    padding: 10px 30px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    justify-content: center;
    align-items: center;
}
.black i{
    color: black;
}
.menu ul li{
    list-style: none;
}
/*  nav  */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 10px 0px 200px;
    width: 500px;
}
.banner .banner-content h1{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner .banner-content h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.banner .banner-content p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
}
.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 15px 30px;
    margin-top: 20px;
    border: none;
}
.btn2-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    margin-left: 20px;
}
.banner-img img{
    width: 450px;
    height: 500px;
    padding-right: 200px;
}
/*   header    */
main{
    padding: 100px 0px 50px;
}
.sub-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}
.image-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.position{
    position: relative;
    left: -5px;
    bottom: 250px;
    text-align: center;
}
.position i{
    background-color: white;
    color: black;
    font-size: 25px;
    padding: 8px;
    border-radius: 100%;
}
.position h5{
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;
}
.image-card p{
    max-width: 290px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
}
.image-card img{
    border: 2px solid #F948B2;
    border-radius: 30px;
}

/* image container  */
.play{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50px 0px;
    align-items: center;
}
.play-container{
    max-width: 350px;
    margin-left: 150px;
}
.play-span{
    color: #F948B2;
}
.play-container h3{
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
    margin-bottom: 20px;
}
.play-container p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.play-img img{
    width: 620px;
    height: 650px;
}
.baby-photo{
    position: absolute;
    left: 40%;
    bottom: -190%;
}
.baby-photo img{
    width: 310px;
    height: 330px;
}
/* play */
.games{
    margin-top: 50px;
    padding: 100px 0px;
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.games-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: .5s ease-in-out;
}
.games-img:hover{
    border: 2px solid #FF42A5;
    padding: 10px 30px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s ease-in-out;
    border-radius: 50px;
}
.games-img h5{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}
.games-img img{
    width: 60px;
    height: 60px;
}
/*  end games  */

footer{
    background-color: #0B0223;
    padding: 100px 0px;
}
.all-content{
    max-width: 750px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}
.footer-content{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.footer-content h4{
    font-size: 45px;
    font-weight: 700;
    color: white;
}
.section-footer{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}
.social-link i{
    color: white;
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.section-description{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0px;
}
.title-footer{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;;
    font-weight: 500;
    margin: 20px 0px;
}

/* small    */

@media screen and (max-width:576px) {
    nav, .link, .banner, .image-container, .play, .games, .footer-content, .section-footer, .section-description{
        flex-direction: column;
    }
    
    .image-container{
        margin: 30px;
        gap: 10px;
    }
    footer{
        margin: 30px;
    }
    .footer-content img{
        width: 100px;
        height: 100px;
        margin-left: 120px;
    }
    .title-footer{
        width: 300px;
        margin: 20px;
    }
    .play-container{
        margin: 30px 10px 10px 50px;
    }
    header{
        padding: 30px;
    }
    .banner-content{
        margin-top: 100px;
        padding: 20px 200px 50px 30px;
    }
    nav{
        height: 100%;
        padding: 20px 0px;
    }
    .link{
        margin-top: 20px;
    }
    .link i{
        padding: 20px;
    }
    
    .image-card{
        margin-left: 20px;
    }
    .play-img{
        width: 80%;
        margin: 20px 50px 10px 100px;
    }
   .baby-photo{
    width: 40%;
    position: absolute;
    left: 5%;
    bottom: -455%;
    }
    .games-img{
        flex-direction: row;
    }
    
}

/* medium  */


@media screen and (min-width:576px) and (max-width:990px) {
    nav, .link, .banner, .image-container, .play, .footer-content, .section-footer, .section-description{
        flex-direction: column;
    }
    header{
        padding-left: 30px;
    }
    nav{
        height: 100%;
        padding: 20px 0px;
    }
    .banner-content{
        padding-left: 250px;
        padding-bottom: 30px;
    }
    .banner-img img{
        padding-left: 200px;
    }
    .image-card{
        margin-left: 300px;
    }
    .position{
        margin-right: 300px;
    }
    .play-container{
        margin: 30px;
    }
    .play-img{
        width: 80%;
        margin: 20px 50px 10px 100px;
    }
   .baby-photo{
    width: 30%;
    position: absolute;
    left: 5%;
    bottom: -245%;
   }
   .footer-content img{
    width: 100px;
    margin-left: 320px;
   }
}